### Vamos a crear un script que me suba de forma automática los datos

In [ ]:
import pandas as pd  # transformar y leer excel como tabla (dataframe)
import re # regular expressions, expresiones regulares para trabajar texto
import mysql.connector as maria # conectarnos a la base de datos MariaDB

In [ ]:
dataframe = pd.read_excel('datos/datos_proveedores.xlsx',sheet_name='Alimentacion',skiprows=1)

In [ ]:
dataframe.head(15)

In [ ]:
dataframe.describe()

In [ ]:
dataframe.dtypes

In [ ]:
dataframe.columns

In [ ]:
dataframe.columns[:13]

In [ ]:
conexion = maria.connect(user='root', password='aci253udla', host='localhost', database='proveedores', port='3306')

In [ ]:
dataframe['ZONA']

In [ ]:
dataframe['ZONA'].unique()

In [ ]:
id_zona=0;
for ciudad in dataframe['ZONA'].unique():
    id_zona+=1
    print(id_zona,ciudad)

In [ ]:
for ciudad in dataframe['ZONA']:
    if ciudad == 'Viña':
        ciudad = 'Viña del Mar'
    st=re.sub(r"\s+$", "", ciudad);
    print(ciudad,st)

In [ ]:
dataframe['ZONA'].replace(to_replace='Viña', value='Viña del Mar',inplace=True)

In [ ]:
dataframe['ZONA']

In [ ]:
dataframe['ZONA'].replace(to_replace='Santiago ',value='Santiago', inplace=True)

In [ ]:
dataframe['ZONA'].replace(to_replace='Viña del Mar ',value='Viña del Mar', inplace=True)

In [ ]:
dataframe['ZONA'].unique()

In [ ]:
dataframe['ZONA'].replace(to_replace='Concepcion ',value='Concepcion', inplace=True)

In [ ]:
dataframe['ZONA'].unique()

In [ ]:
agregar_zona =("INSERT INTO zona ""(id,nombre)"" VALUES (%s,%s)")

In [ ]:
print(agregar_zona)

#### Creamos buffer para la conexión con la base de datos

In [ ]:
buffer = conexion.cursor(buffered=True)

In [ ]:
idzona=1
for zona in dataframe['ZONA'].unique():
    print(idzona,zona)
    idzona+=1

In [ ]:
idzona=1
for zona in dataframe['ZONA'].unique():
    value_insert=(idzona,zona)
    print(value_insert)
    buffer.execute(agregar_zona,value_insert)
    idzona+=1;

In [ ]:
conexion.commit()
buffer.close()
conexion.close()